@model LastHMS1.Models.Death_Case

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Death_Case</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Death_Cause)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Death_Cause)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Death_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Death_Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Death_Case_Number">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
