@model IEnumerable<LastHMS1.Models.Death_Case>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Death_Cause)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Death_Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Death_Cause)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Death_Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Death_Case_Number">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Death_Case_Number">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Death_Case_Number">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
