@model LastHMS1.Models.Surgery

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Surgery</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surgery_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surgery_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surgery_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surgery_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surgery_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surgery_Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Surgery_Number">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
