@model LastHMS1.Models.Patient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient_First_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient_First_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient_Middle_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient_Middle_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient_Last_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient_Last_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient_Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient_Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient_Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient_Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient_Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient_Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient_City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient_City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient_X_Y)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient_X_Y)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient_National_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient_National_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient_Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient_Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient_Social_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient_Social_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient_Birth_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient_Birth_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient_Birth_Place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient_Birth_Place)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Patient_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
