@model IEnumerable<LastHMS1.Models.Patient>

@{
    ViewData["Title"] = "HoPatients";
}

<h1>HoPatients</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.HospitalId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient_First_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient_Middle_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient_Last_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient_Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient_Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient_Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient_City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient_X_Y)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient_National_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient_Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient_Social_Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient_Birth_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient_Birth_Place)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_Middle_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_X_Y)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_National_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_Social_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_Birth_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_Birth_Place)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Patient_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Patient_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Patient_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
