@model LastHMS1.Models.Ray

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ray</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ray_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ray_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ray_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ray_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ray_Result)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ray_Result)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Ray_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
