@model LastHMS1.Models.Doctor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_First_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_First_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_Middle_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_Middle_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_Last_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_Last_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_National_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_National_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_Family_Members)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_Family_Members)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_Specialization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_Specialization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_Qualifications)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_Qualifications)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_Social_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_Social_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_Birth_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_Birth_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_Birth_Place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_Birth_Place)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_Hire_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_Hire_Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Doctor_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
