@model IEnumerable<LastHMS1.Models.Doctor>

@{
    ViewData["Title"] = "HoDoctors";
}

<h1>HoDoctors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doctor_Full_Name)
            </th>




            <th>
                @Html.DisplayNameFor(model => model.Doctor_Specialization)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Doctor_Phone_Numbers)
                </th>*@

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor_Full_Name)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Doctor_Specialization)
                </td>
                @* + رقم الموبايل وساعات الدوام *@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Doctor_Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Doctor_Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Doctor_Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
