@model IEnumerable<LastHMS1.Models.Preview>

@{
    ViewData["Title"] = "Master";
}

@*sidebar start*@
<div class="sidebar">
    <div class="logo-details">
        <img asp-append-version="true" src="~/HMS/images/avatar/doctor..jpg" class="doctor-img ">
        <span class="logo_name">@ViewBag.DoctorName</span>
    </div>
    <hr class="sidebar-divider ">
    <div class="nav-links ">
        <div class=" s_div">
            <a asp-controller="Preview" asp-action="Create" asp-route-id="@ViewBag.DoctorId">
                <i class="bi bi-calendar-week ic"></i> <span class="side_name">حجز موعد</span>
            </a>
        </div>
        <div class="s_div">
            <a asp-controller="Patient" asp-action="DoctorIndex" asp-route-id="@ViewBag.DoctorId">
                <i class="fa fa-wheelchair ic"></i> <span class="side_name">مرضى</span>
            </a>
        </div>
        <div class=" l_div">
            <label for="touch">
                <i class="fa fa-bed ic"></i> <span class="side_name">عمليات</span>
            </label>
            &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
            &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;  <i class="bi bi-chevron-compact-down icon "></i>
            <input type="checkbox" id="touch">
            <ul class="slide">
                <span>عمليات</span>
                <li>
                    <a asp-controller="Preview" asp-action="Create" asp-route-id="@ViewBag.DoctorId">حجز غرفة</a>
                </li>
                <li>
                    <a asp-controller="Surgery_Room" asp-action="DoctorIndex" asp-route-id="@ViewBag.DoctorId"> الغاء حجز غرفة</a>
                </li>
            </ul>
        </div>
    </div>
    <hr class="sidebar-divider ">
</div>
@*sidebar end
    start*@

<section class="home-section">

    @*Topbar start*@

    <div class="container navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow topbar-ps ">
        <div class="row">
            <ul class="navbar-nav ml-auto">

                @*Nav Item - Alerts*@
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="top_div">
                            <i class="fas fa-bell fa-fw"></i>
                            @*Counter - Alerts*@
                            <span class="badge badge-danger badge-counter">3+</span>
                        </div>
                    </a>
                    @*Alerts Dropdown start*@
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in alert-doc"
                         aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">
                            مركز التنبيهات
                        </h6>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-primary">
                                    <i class="fas fa-file-alt text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">ديسمبر 2019,12 </div>
                                <span class="font-weight-bold">
                                    ! تقرير شهري جديد جاهز للتنزيل
                                </span>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-success">
                                    <i class="fas fa-donate text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">ديسمبر 2019,7</div>
                                $290.29 has been deposited into your account!
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-warning">
                                    <i class="fas fa-exclamation-triangle text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">ديسمبر 2019,2 </div>
                                Spending Alert: We've noticed unusually high spending for your account.

                            </div>
                        </a>
                        <a class="dropdown-item text-center small text-gray-500" href="#">إظهار كل التنبيهات</a>
                    </div>
                    @*Alerts Dropdown end*@
                </li>
                @*Alerts end*@


                <div class="topbar-divider d-none d-sm-block"></div>
                @*Nav Item - doctor Info start*@
                <li class="nav-item dropdown no-arrow ">
                    <a class="nav-link dropdown-toggle do_div" href="#" id="userDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="top_div">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">@ViewBag.DoctorName</span>
                            <img asp-append-version="true" class="img-profile rounded-circle" src="~/HMS/images/dashboard/img/undraw_profile.svg">
                        </div>
                    </a>

                    @*doctor Info Dropdown start*@
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in info-doc"
                         aria-labelledby="userDropdown">
                        <a class="dropdown-item" asp-action="Details" asp-route-id="@ViewBag.DoctorId">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;&nbsp;&nbsp;
                            المعلومات الشخصية
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;&nbsp;&nbsp;
                            تسجيل خروج
                        </a>
                    </div>
                    @*doctor Info Dropdown end*@
                </li>
                @*Nav Item - doctor Info end*@
            </ul>
        </div>
    </div>
    @*Topbar end
        start page*@
    <div class="container ">
        <div class="row">

            <button asp-controller="Preview" asp-action="Create" asp-route-id="@ViewBag.DoctorId" class="btn modal-bt1 ">
                حجز موعد
            </button>


            @*Logout Modal start*@
            <div class="modal fade " id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true" dir="ltr">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title modal-txt" id="exampleModalLabel">تسجيل خروج</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body "> هل أنت متأكد</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary close_btn" type="button" data-dismiss="modal">إلغاء</button>
                            <a class="btn btn-primary Logout-btn" asp-controller="Home" asp-action="Index">تسجيل خروج</a>
                        </div>
                    </div>
                </div>
            </div>
            @*Logout Modal start
                pait Btn*@
            <button asp-controller="Patient" asp-action="DoctorIndex" asp-route-id="@ViewBag.DoctorId" class="btn modal-bt1 ">
                المرضى
            </button>
            @*surg Btn*@
            <button type="button" class="btn modal-bt1" data-toggle="modal" data-target="#exampleModal3">
                العمليات
            </button>

            @*surg Modal start*@
            <div class="modal fade " id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true" dir="ltr">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title modal-txt " id="exampleModalLabel3">عملية </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body Center ">
                            <button asp-controller="Surgery_Room" asp-action="Create" asp-route-id="@ViewBag.DoctorId" class="btn btn-info  modal-bt4">
                                حجز غرفة عمليات
                            </button>
                            <button asp-controller="Surgery_Room" asp-action="DoctorIndex" asp-route-id="@ViewBag.DoctorId" class="btn btn-info  modal-bt4">
                                إلغاء حجز غرفة
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary close_btn" data-dismiss="modal">إغلاق</button>
                        </div>
                    </div>
                </div>
            </div>
            @*surg Modal end*@
        </div>
    </div>
    @*table start*@
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>

                            @Html.DisplayNameFor(model => model.Preview_Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Doctor_Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Preview_Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Doctor_Name)
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.Preview_Id" class="btn delete_btn">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @*table end
        end page
        footer start*@
    <footer>
        <div class="footer">
            <span class="fo_span center">حقوق الطباعة &copy; موقعنا 2022</span>
        </div>
    </footer>
    @*footer end*@
</section>
@*end*@


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        <script src="~/Vikings/Doctor/jquery.min.js"></script>
        <script src="~/Vikings/Doctor/bootstrap.bundle.min.js"></script>
        <script src="~/Vikings/Doctor/jquery.easing.min.js"></script>
        <script src="~/Vikings/Doctor/sb-admin-2.js"></script>
        <script src="~/Vikings/Doctor/Chart.min.js"></script>
        <script src="~/Vikings/Doctor/chart-area-demo.js"></script>
        <script src="~/Vikings/Doctor/chart-pie-demo.js"></script>
    
}
@section Styles{
    <style>
        html {
            direction: rtl;
        }
    </style>
    <link href="~/Vikings/Doctor/all.css" rel="stylesheet" />
    <link href="~/Vikings/Doctor/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"><!--font -->
    <link href="~/Vikings/Doctor/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Vikings/Doctor/doctor.css" rel="stylesheet" />

}