@model IEnumerable<LastHMS1.Models.Preview>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Preview_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor_Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Preview_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor_Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Preview_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Preview_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Preview_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
