@model LastHMS1.Models.Medical_Test

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medical_Test</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Test_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Test_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Test_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Test_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Test_Result)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Test_Result)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Test_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
