@model LastHMS1.Models.Hospital

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Hospital</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serial_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serial_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ho_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ho_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ho_Subscribtion_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ho_Subscribtion_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital_Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hospital_Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital_Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hospital_Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital_City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hospital_City)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Ho_Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Master" asp-controller="Admin">Back to List</a>
    </form>
</div>
