@model LastHMS1.Models.Hospital

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hospital</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serial_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serial_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ho_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ho_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ho_Subscribtion_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ho_Subscribtion_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital_Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hospital_Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital_Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hospital_Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital_City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hospital_City)
        </dd>   
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital_Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hospital_Location)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Ho_Id">Edit</a> |
    <a asp-action="Master" asp-controller="Admin">Back to List</a>
</div>
