@model LastHMS1.Models.Bill

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bill_Examination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bill_Examination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bill_Surgeries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bill_Surgeries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bill_Rays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bill_Rays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bill_Medical_Test)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bill_Medical_Test)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bill_Room_Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bill_Room_Service)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Bill_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
