@model LastHMS1.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room_Floor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room_Floor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room_Empty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room_Empty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room_Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Room_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
