@model IEnumerable<LastHMS1.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room_Floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room_Empty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room_Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room_Floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room_Empty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room_Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Room_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Room_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Room_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
